<section fxLayout="column" fxFlexAlign="stretch">
  <div fxFlexAlign="center">
    <p>Welcome to the Patient Information Application</p>
  </div>

  <mat-card>
    <mat-card-title></mat-card-title>
    <mat-card-content>
      <p>In this application we are going to Register new patients and view the details of the registered patients.</p>
      <p>Click on 'Register' to add/create a new Patient. Click on 'Patients' to get the list of available Patients.</p>
    </mat-card-content>
    <mat-card-actions fxLayoutAlign="center">
      <button mat-raised-button color="primary" routerLink="/patient/create">Register</button>
      <button mat-raised-button color="primary" routerLink="/patient/patients">Patients</button>
    </mat-card-actions>
  </mat-card>

</section>